{
    "CN": "{{ ca_name }}",
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "{{ ca_country }}",
            "L": "{{ ca_city }}",
            "O": "{{ ca_organisation }}",
            "OU": "{{ ca_organisation_unit }}"
        }
    ]
}